@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 320px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('/banner.jpg');
  background-blend-mode: multiply;
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}
